<div class="cell donate-bar">
	<div class="inner">
		<h3>Your Generous Contribution Will Help To Protect Our Community</h3>
		<p>I love our neighborhoods and I ask that you help me continue to fight to keep them safe and clean for our children and our grandchildren.</p>

		{{> donate-numbers}}
	</div>
</div>