<div class="cell donate-bar">
	<div class="inner">
		<h3>Early Voting Starts October 23rd</h3>
		<p>Our Lady of Grace School in Howard Beach has been designated as an early voting poll site by the NYC Board of Elections.</p>

		<p>Voters living in Howard Beach - If your Election Day Poll Site is PS 207, PS 146 or PS 232, your early voting site is now Our Lady of Grace School - 158-20 101 St. Howard Beach, NY</p>

		<p>Voters living in Ozone Park - If your Election Day Poll Site is MS 202, PS 63, PS 377, your early voting site is now Our Lady of Grace School - 158-20 101 St. Howard Beach, NY</p>

		<a data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-delay="600" href="https://findmypollsite.vote.nyc" class="button solid-secondary">Find Your Poll Site</a>
	</div>
</div>