<div class="cell feature-btns show-for-medium">
  <ul>
    <li>
      <a href="/volunteer" class="button solid-primary">
        <i class="icon bullhorn "></i> Volunteer
      </a>
    </li>
    <li>
      <a href="https://www.nycvotes.org/campaigns/robertholden/contributions/new" class="button solid-secondary">
        <i class="icon check-circle"></i> Donate
      </a>
    </li>
    <li>
      <a href="/contact" class="button solid-primary">
        <i class="icon comment"></i> Contact
      </a>
    </li>
  </ul>
</div>