<div class="cell feature">
  <div class="copy">
    <h1 class="feature-headline" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-delay="200">Fighting For The Residents Of Middle Village, Maspeth, Glendale, Ridgewood, Woodside &amp; Woodhaven</h1>
    <h2 data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-delay="800">RE-ELECT ROBERT HOLDEN FOR CITY COUNCIL DISTRICT 30</h2>
  </div>
  <picture>
    <source media="(min-width:650px)" srcset="/images/{{largeimg}}">
    <source media="(min-width:165px)" srcset="/images/{{smallimg}}">
    <img src="/images/{{largeimg}}" alt="City Councilmember Robert Holden">
  </picture>
</div>