<nav>
	<ul class="top-nav">
		<li><a href="/">Home</a></li>
		<li><a href="/bio">Bio</a></li>
		<li><a href="/news">News</a></li>
		<li><a href="/volunteer">Volunteer</a></li>
		<li><a href="/contact">Contact</a></li>
		<li class="show-for-large"><a href="https://www.nycvotes.org/campaigns/joannariola/contributions/new" class="button donate-button solid-secondary">Donate</a></li>
		<li class="hide-for-large donate-button"><a href="https://www.nycvotes.org/campaigns/joannariola/contributions/new">Donate</a></li>

		<li class="show-for-large">
			<a href="https://www.facebook.com/Ariola2021" class="social">
				<i class="brands-icon facebook"></i>
			</a>
		</li>
		<li class="social hide-for-large">
			<ul>
				<li>
					<a href="https://www.facebook.com/Ariola2021" class="social">
						<i class="brands-icon facebook"></i>
					</a>
				</li>
			</ul>
		</li>
	</ul>
</nav>