<nav>
	<ul class="top-nav">
		<li><a href="/">Home</a></li>
		<li><a href="/news">News</a></li>
		<!--<li><a href="/events">Events</a></li>-->
		<li><a href="/volunteer">Volunteer</a></li>
		<li><a href="/contact">Contact</a></li>
		<li class="show-for-large"><a href="https://www.nycvotes.org/campaigns/robertholden/contributions/new" class="donate-button">Donate</a></li>
		<li class="hide-for-large donate-button"><a href="https://www.nycvotes.org/campaigns/robertholden/contributions/new">Donate</a></li>

		<li class="show-for-large">
			<a href="https://www.facebook.com/bobholdencitycouncil" class="social">
				<i class="brands-icon facebook"></i>
			</a>
		</li>
		<li class="show-for-large">
			<a href="https://twitter.com/BobHoldenNYC" class="social">
				<i class="brands-icon twitter"></i>
			</a>
		</li>
		<li class="show-for-large">
			<a href="https://www.instagram.com/bobholdennyc/" class="social">
				<i class="brands-icon instagram"></i>
			</a>
		</li>
		<li class="show-for-large">
			<a href="https://www.youtube.com/channel/UChtcvj3BHabKO0T8oDN-wQg" class="social">
				<i class="brands-icon youtube"></i>
			</a>
		</li>
		
		<li class="social hide-for-large">
			<ul>
				<li>
					<a href="https://www.facebook.com/bobholdencitycouncil" class="social">
						<i class="brands-icon facebook"></i>
					</a>
				</li>
				<li>
					<a href="https://twitter.com/BobHoldenNYC" class="social">
						<i class="brands-icon twitter"></i>
					</a>
				</li>
				<li>
					<a href="https://www.instagram.com/bobholdennyc/" class="social">
						<i class="brands-icon instagram"></i> 
					</a>
				</li>
				<li>
					<a href="https://www.youtube.com/channel/UChtcvj3BHabKO0T8oDN-wQg" class="social">
						<i class="brands-icon youtube"></i>
					</a>
				</li>
			</ul>
		</li>
	</ul>
</nav>