<div class="grid-container container-inner">
	<div class="grid-x align-center">
        <div class="cell feature">
          <picture>
            <source media="(min-width:650px)" srcset="/images/Joann-Ariola-Splash-Photo-Large.png">
            <source media="(min-width:165px)" srcset="/images/Joann-Ariola-Splash-Photo-Large.png">
            <img src="/images/Joann-Ariola-Splash-Photo-Large.png" alt="Joann Ariola">
          </picture>

          <div class="copy">
            <div>
                <h1>Joann Ariola for City Council</h1>
            </div>
            <div>
                <h2 class="feature-headline">TOGETHER</h2>
            </div>
            <div>
                <h3>we will restore New York City</h3>
            </div>
            <div class="donate">
                <a href="https://www.nycvotes.org/campaigns/joannariola/contributions/new" class="button secondary large">Donate</a>
            </div>
            </div>
        </div>
  </div>
</div>