$global-width: 1400px;

$foundation-palette: (
  primary: #1a1d4a,
  secondary: #BF0000,
  success: #3adb76,
  warning: #ffae00,
  alert: #ff0000,
);

$body-font-bold-family: 'Roboto', sans-serif;
$global-weight-bold: 700;
$body-font-family: 'Roboto', sans-serif;
$paragraph-lineheight: 1.4;
$header-font-family: 'Roboto Condensed', sans-serif;
$header-lineheight: 1.1;
$header-margin-bottom: 0.3rem;
$input-placeholder-color: #666;
$input-border: 1px solid #999;
$input-border-focus: 1px solid #999;
$input-shadow: none;
$input-shadow-focus: none;
$input-padding: .7rem .5rem .5rem .5rem;
$global-radius: 3px;
$button-font-family: $body-font-family;
$button-font-weight: $global-weight-bold;
$button-padding: 0.65em .8em;

$header-styles: (
  small: (
    'h1': ('font-size': 24),
    'h2': ('font-size': 20),
    'h3': ('font-size': 22),
    'h4': ('font-size': 18),
    'h5': ('font-size': 17),
    'h6': ('font-size': 16),
  ),
  medium: (
    'h1': ('font-size': 48),
    'h2': ('font-size': 40),
    'h3': ('font-size': 31),
    'h4': ('font-size': 25),
    'h5': ('font-size': 20),
    'h6': ('font-size': 16),
  ),
);

/* Foundation */
@import './foundation/foundation';
@include foundation-everything;


/* typography */
p {
	font-size: rem-calc(15);
}

.feature-headline {
	font-family: $header-font-family;
	font-size: 18vw;

	@include breakpoint(medium) {
		font-size: rem-calc(75);
	}

	@include breakpoint(large) {
		font-size: rem-calc(100);
	}
}

.button {
	text-transform: uppercase;
}


* {  box-sizing: border-box;}

img {
	image-rendering: -moz-crisp-edges;         /* Firefox */
	image-rendering:   -o-crisp-edges;         /* Opera */
	image-rendering: -webkit-optimize-contrast;/* Webkit (non-standard naming) */
	image-rendering: crisp-edges;
	-ms-interpolation-mode: nearest-neighbor;  /* IE (non-standard property) */
}

.main-container {
	background: #fff;
	padding: 0;
}

.container-inner {
	padding: 0;
}

.header {
	padding: 10px 0;
	width: 100%;
	display: flex;
}

.header-logo {
	width: 80%;
	height: auto;
	max-width: 205px;
	margin: 0 auto;
}

.feature {
	position: relative;
	z-index: 0;
	overflow: hidden;

	picture, img {
		width: 100%;
		height: auto;
	}

	.copy {
		margin-top: 20px;
		text-align: center;
		color: #fff;

		@include breakpoint(medium) {
			width: 50%;
			position: absolute;
			top: 50%;
			right: 3%;
			transform: translateY(-50%);
			margin-top: 0;
		}

		h1 {
			font-family: $body-font-family;
			font-weight: $global-weight-bold;
			color: $primary-color;
			font-size: 5vw;
			letter-spacing: .3px;
			margin-bottom: 10px;

			@include breakpoint(medium) {
				font-size: rem-calc(18);
				color: #fff;
			}

			@include breakpoint(large) {
				font-size: rem-calc(20);
			}
		}

		h2, h3 {
			background: $primary-color;
			display: inline-block;
			margin: 1px 0;
			padding: 5px 10px;
			line-height: .8;

			@include breakpoint(medium) {
				margin: 2px 0;
			}
		}

		h3 {
			font-family: $body-font-bold-family;
			font-weight: $global-weight-bold;
			text-transform: uppercase;
			font-size: 4vw;
			letter-spacing: 1px;

			@include breakpoint(medium) {
				font-size: rem-calc(15);
				letter-spacing: 2px;
			}

			@include breakpoint(large) {
				font-size: rem-calc(20);
			}
		}

		.donate {
			display: block;
			margin-top: 20px;
		}
	}
}

footer {
	width: 100%;
}

.footer {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.paid-for {
	font-family: $body-font-bold-family;
	font-weight: $global-weight-bold;
	border: 1px solid $primary-color;
	color: $primary-color;
	font-size: rem-calc(14);
	text-transform: uppercase;
	padding: 2px 10px;
	margin: 30px auto;
	display: inline-block;
}